In [70]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, String, Integer
from sqlalchemy.orm import sessionmaker, aliased
from sqlalchemy import tuple_, and_, or_

# Checking the version

In [2]:
sqlalchemy.__version__

'1.4.36'

# Connecting to the in-memory-only SQLite database

In [3]:
engine = create_engine('sqlite:///:memory:', echo=True)

The echo flag is a shortcut to setting up SQLAlchemy logging, which is accomplished via Pythonâ€™s standard logging module.

# Declaraing a Mapping

In [4]:
Base = declarative_base()

In [5]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    
    def __repr__(self):
        return f"<User(name={self.name}, fullname={self.fullname}, nickname={self.nickname})"

In [6]:
User.__table__

Table('users', MetaData(), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('nickname', String(), table=<users>), schema=None)

In [7]:
Base.metadata.create_all(engine)

2022-09-08 05:55:28,484 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-08 05:55:28,491 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2022-09-08 05:55:28,492 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-08 05:55:28,494 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2022-09-08 05:55:28,496 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-08 05:55:28,500 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2022-09-08 05:55:28,501 INFO sqlalchemy.engine.Engine [no key 0.00144s] ()
2022-09-08 05:55:28,504 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')

In [9]:
ed_user.name

'ed'

In [10]:
ed_user.nickname

'edsnickname'

In [11]:
str(ed_user.id)

'None'

# Creating Sessions

In [12]:
Session = sessionmaker(bind=engine)

If the sessions does not have an engine yet, set it up like this
##### Session = sessionmaker() 
Later when you create your engine, connect it to the sessions using
###### Session.configure(bind=engine)

# Adding and Updating Objects

In [13]:
session = Session()
session.add(ed_user)

In [14]:
our_user = session.query(User).filter_by(name='ed').first()

2022-09-08 05:55:29,818 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-08 05:55:29,821 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-09-08 05:55:29,822 INFO sqlalchemy.engine.Engine [generated in 0.00118s] ('ed', 'Ed Jones', 'edsnickname')
2022-09-08 05:55:29,831 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2022-09-08 05:55:29,834 INFO sqlalchemy.engine.Engine [generated in 0.00363s] ('ed', 1, 0)

In [15]:
print(our_user)

<User(name=ed, fullname=Ed Jones, nickname=edsnickname)

In [16]:
ed_user is our_user

True

In [17]:
session.add_all([
    User(name="wendy", fullname='Wendy Williams', nickname='windy'),
    User(name='mary', fullname='Mary Contrary', nickname='mary'),
    User(name='fred', fullname='Fred Flintstone', nickname='freddy')
])

In [18]:
ed_user.nickname = 'eddie'

In [19]:
session.dirty

IdentitySet([<User(name=ed, fullname=Ed Jones, nickname=eddie)])

In [20]:
session.new

IdentitySet([<User(name=wendy, fullname=Wendy Williams, nickname=windy), <User(name=mary, fullname=Mary Contrary, nickname=mary), <User(name=fred, fullname=Fred Flintstone, nickname=freddy)])

In [21]:
session.commit()

2022-09-08 06:00:37,142 INFO sqlalchemy.engine.Engine UPDATE users SET nickname=? WHERE users.id = ?
2022-09-08 06:00:37,145 INFO sqlalchemy.engine.Engine [generated in 0.00284s] ('eddie', 1)
2022-09-08 06:00:37,147 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-09-08 06:00:37,149 INFO sqlalchemy.engine.Engine [cached since 307.3s ago] ('wendy', 'Wendy Williams', 'windy')
2022-09-08 06:00:37,151 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-09-08 06:00:37,153 INFO sqlalchemy.engine.Engine [cached since 307.3s ago] ('mary', 'Mary Contrary', 'mary')
2022-09-08 06:00:37,155 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-09-08 06:00:37,156 INFO sqlalchemy.engine.Engine [cached since 307.3s ago] ('fred', 'Fred Flintstone', 'freddy')
2022-09-08 06:00:37,163 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
ed_user.id

2022-09-08 06:01:30,777 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-08 06:01:30,783 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = ?
2022-09-08 06:01:30,786 INFO sqlalchemy.engine.Engine [generated in 0.00255s] (1,)

1

In [23]:
ed_user.name = 'Edwardo'
fake_user = User(name='fakeuser', fullname='Invalid',nickname='12345')
session.add(fake_user)

In [24]:
session.new

IdentitySet([<User(name=fakeuser, fullname=Invalid, nickname=12345)])

In [25]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2022-09-08 06:05:26,079 INFO sqlalchemy.engine.Engine UPDATE users SET name=? WHERE users.id = ?
2022-09-08 06:05:26,080 INFO sqlalchemy.engine.Engine [generated in 0.00179s] ('Edwardo', 1)
2022-09-08 06:05:26,083 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-09-08 06:05:26,086 INFO sqlalchemy.engine.Engine [cached since 596.3s ago] ('fakeuser', 'Invalid', '12345')
2022-09-08 06:05:26,092 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name IN (?, ?)
2022-09-08 06:05:26,095 INFO sqlalchemy.engine.Engine [generated in 0.00400s] ('Edwardo', 'fakeuser')

[<User(name=Edwardo, fullname=Ed Jones, nickname=eddie),
 <User(name=fakeuser, fullname=Invalid, nickname=12345)]

In [26]:
session.rollback()

2022-09-08 06:05:58,076 INFO sqlalchemy.engine.Engine ROLLBACK

In [27]:
ed_user.name

2022-09-08 06:06:09,657 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-08 06:06:09,660 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = ?
2022-09-08 06:06:09,662 INFO sqlalchemy.engine.Engine [cached since 278.9s ago] (1,)

'ed'

In [28]:
fake_user in session

False

# Querying

In [29]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2022-09-08 06:08:45,528 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users ORDER BY users.id
2022-09-08 06:08:45,531 INFO sqlalchemy.engine.Engine [generated in 0.00282s] ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flintstone

In [31]:
for name, fullname in session.query(User.name, User.fullname):
    print(name, fullname)

2022-09-08 06:09:53,774 INFO sqlalchemy.engine.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2022-09-08 06:09:53,777 INFO sqlalchemy.engine.Engine [cached since 5.473s ago] ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flintstone

In [32]:
for row in session.query(User, User.name).all():
    print(row.User, row.name)

2022-09-08 06:11:42,254 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname, users.name AS users_name__1
FROM users
2022-09-08 06:11:42,257 INFO sqlalchemy.engine.Engine [generated in 0.00371s] ()
<User(name=ed, fullname=Ed Jones, nickname=eddie) ed
<User(name=wendy, fullname=Wendy Williams, nickname=windy) wendy
<User(name=mary, fullname=Mary Contrary, nickname=mary) mary
<User(name=fred, fullname=Fred Flintstone, nickname=freddy) fred

In [33]:
for row in session.query(User):
    print(row)

2022-09-08 06:12:05,737 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2022-09-08 06:12:05,740 INFO sqlalchemy.engine.Engine [generated in 0.00320s] ()
<User(name=ed, fullname=Ed Jones, nickname=eddie)
<User(name=wendy, fullname=Wendy Williams, nickname=windy)
<User(name=mary, fullname=Mary Contrary, nickname=mary)
<User(name=fred, fullname=Fred Flintstone, nickname=freddy)

In [35]:
for row in  session.query(User.name.label('name_label')).all():
    print(row.name_label)

2022-09-08 06:13:59,427 INFO sqlalchemy.engine.Engine SELECT users.name AS name_label
FROM users
2022-09-08 06:13:59,430 INFO sqlalchemy.engine.Engine [cached since 21.39s ago] ()
ed
wendy
mary
fred

In [39]:
user_alias = aliased(User, name='alias')
for row in session.query(user_alias, user_alias.name).all():
    print(row.alias)

2022-09-08 06:16:14,041 INFO sqlalchemy.engine.Engine SELECT alias.id AS alias_id, alias.name AS alias_name, alias.fullname AS alias_fullname, alias.nickname AS alias_nickname, alias.name AS alias_name__1
FROM users AS alias
2022-09-08 06:16:14,043 INFO sqlalchemy.engine.Engine [cached since 7.862s ago] ()
<User(name=ed, fullname=Ed Jones, nickname=eddie)
<User(name=wendy, fullname=Wendy Williams, nickname=windy)
<User(name=mary, fullname=Mary Contrary, nickname=mary)
<User(name=fred, fullname=Fred Flintstone, nickname=freddy)

In [40]:
for u in session.query(User).order_by(User.id)[1:3]:
    print(u)

2022-09-08 06:17:45,668 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users ORDER BY users.id
 LIMIT ? OFFSET ?
2022-09-08 06:17:45,670 INFO sqlalchemy.engine.Engine [generated in 0.00267s] (2, 1)
<User(name=wendy, fullname=Wendy Williams, nickname=windy)
<User(name=mary, fullname=Mary Contrary, nickname=mary)

In [41]:
for name, in session.query(User.name).filter_by(fullname='Ed Jones'):
    print(name)

2022-09-08 06:19:56,169 INFO sqlalchemy.engine.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = ?
2022-09-08 06:19:56,171 INFO sqlalchemy.engine.Engine [generated in 0.00267s] ('Ed Jones',)
ed

In [44]:
for name, in session.query(User.name).filter(User.fullname=='Ed Jones'):
    print(name)

2022-09-08 06:21:20,862 INFO sqlalchemy.engine.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = ?
2022-09-08 06:21:20,864 INFO sqlalchemy.engine.Engine [cached since 84.7s ago] ('Ed Jones',)
ed

In [47]:
for name in session.query(User).filter_by(id = 1).filter_by(name='mary'):
    print(name)

2022-09-08 06:23:35,082 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = ? AND users.name = ?
2022-09-08 06:23:35,084 INFO sqlalchemy.engine.Engine [generated in 0.00287s] (1, 'mary')

In [49]:
for user in session.query(User).\
         filter(User.name=='ed').\
         filter(User.fullname=='Ed Jones'):
    print(user)

2022-09-08 06:25:02,346 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ? AND users.fullname = ?
2022-09-08 06:25:02,348 INFO sqlalchemy.engine.Engine [cached since 3.194s ago] ('ed', 'Ed Jones')
<User(name=ed, fullname=Ed Jones, nickname=eddie)

###### Filtering with different and common filter operator

In [50]:
jame = session.query(User).filter(User.name!='ed')

In [54]:
jame.all()

2022-09-08 06:33:43,719 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name != ?
2022-09-08 06:33:43,721 INFO sqlalchemy.engine.Engine [generated in 0.00206s] ('ed',)

[<User(name=wendy, fullname=Wendy Williams, nickname=windy),
 <User(name=mary, fullname=Mary Contrary, nickname=mary),
 <User(name=fred, fullname=Fred Flintstone, nickname=freddy)]

In [55]:
for i in session.query(User).filter(User.name.like('%mary%')):
    print(i.name)

2022-09-08 06:34:35,990 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name LIKE ?
2022-09-08 06:34:35,992 INFO sqlalchemy.engine.Engine [generated in 0.00360s] ('%mary%',)
mary

In [62]:
# Filtering with ilike which is used to compare rows to
# see if a certain string in the function argument is in
# the query
for j in session.query(User).filter(User.name.ilike('%e%')):
    print(j.name)

2022-09-08 06:47:40,223 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE lower(users.name) LIKE lower(?)
2022-09-08 06:47:40,226 INFO sqlalchemy.engine.Engine [cached since 735.8s ago] ('%e%',)
ed
wendy
fred

In [60]:
# Filtering with a normal List
print("Filtering with a link")
for link in session.query(User).filter(User.name.in_(['ed', 'wendy', 'jack'])):
    print(link)

# Filtering with an in_ query inside another query
print("Filtering with in_ query inside a query")
for i in session.query(User).filter(
    User.name.in_(
        session.query(User.name).filter(User.name.like('%e%'))
    )
):
    print(i.name)
    
# Filtering with a tuple_() for composite (Multi-column) queries
print("Filtering with a tuple_() function for composite columns")
for tup in session.query(User).filter(
    tuple_(User.name, User.nickname).\
    in_([('ed', 'edsnickname'), ('wendy', 'windy')])
):
    print(tup)

Filtering with a link
2022-09-08 06:44:58,455 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name IN (?, ?, ?)
2022-09-08 06:44:58,456 INFO sqlalchemy.engine.Engine [cached since 2372s ago] ('ed', 'wendy', 'jack')
<User(name=ed, fullname=Ed Jones, nickname=eddie)
<User(name=wendy, fullname=Wendy Williams, nickname=windy)
Filtering with in_ query inside a query
2022-09-08 06:44:58,520 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name IN (SELECT users.name
FROM users
WHERE users.name LIKE ?)
2022-09-08 06:44:58,522 INFO sqlalchemy.engine.Engine [generated in 0.00191s] ('%e%',)
ed
wendy
fred
Filtering with a tuple_() function for composite columns
2022-09-08 06:44:58,529 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE (users.name, users.nickname) IN (VALUES (?, ?), (?, ?))
2022-09-08 06:44:58,531 INFO sqlalchemy.engine.Engine [generated in 0.00179s] ('ed', 'edsnickname', 'wendy', 'windy')
<User(name=wendy, fullname=Wendy Williams, nickname=windy)

In [76]:
# Using the notin function to filter a query
for i in session.query(User).filter(~User.name.in_(['ed', 'wendy','jack'])):
    print(i)

2022-09-08 07:06:36,059 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE (users.name NOT IN (?, ?, ?))
2022-09-08 07:06:36,061 INFO sqlalchemy.engine.Engine [cached since 1057s ago] ('ed', 'wendy', 'jack')
<User(name=mary, fullname=Mary Contrary, nickname=mary)
<User(name=fred, fullname=Fred Flintstone, nickname=freddy)

In [65]:
# Filtering using the is_ function
jame = session.query(User).filter(User.name==None)
print("Using the == sign for is")
print(jame.all())
jame = session.query(User).filter(User.name.is_(None))
print("Using the is_ sign now")
print(jame.all())

Using the == sign for is
2022-09-08 06:52:33,008 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name IS NULL
2022-09-08 06:52:33,010 INFO sqlalchemy.engine.Engine [generated in 0.00259s] ()
[]
Using the is_ sign now
2022-09-08 06:52:33,013 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name IS NULL
2022-09-08 06:52:33,015 INFO sqlalchemy.engine.Engine [cached since 0.007333s ago] ()
[]

In [67]:
# Filtering using the isnot function
jame = session.query(User).filter(User.name!=None)
print("Using the != sign for isnot")
print(jame.all())
jame = session.query(User).filter(User.name.isnot(None))
print("Using the isnot sign now")
print(jame.all())

Using the != sign for isnot
2022-09-08 06:53:41,800 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name IS NOT NULL
2022-09-08 06:53:41,803 INFO sqlalchemy.engine.Engine [cached since 10.23s ago] ()
[<User(name=ed, fullname=Ed Jones, nickname=eddie), <User(name=wendy, fullname=Wendy Williams, nickname=windy), <User(name=mary, fullname=Mary Contrary, nickname=mary), <User(name=fred, fullname=Fred Flintstone, nickname=freddy)]
Using the isnot sign now
2022-09-08 06:53:41,809 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name IS NOT NULL
2022-09-08 06:53:41,811 INFO sqlalchemy.engine.Engine [cached since 10.24s ago] ()
[<User(name=ed, fullname=Ed Jones, nickname=eddie), <User(name=wendy, fullname=Wendy Williams, nickname=windy), <User(name=mary, fullname=Mary Contrary, nickname=mary), <User(name=fred, fullname=Fred Flintstone, nickname=freddy)]

In [72]:
# Filtering using the and_ command
jame = session.query(User).filter(and_(User.name=='ed', User.fullname=='Ed Jones'))
# Filtering by sending multiple expressions to the .filter function
kame = session.query(User).filter(User.name=='ed', User.fullname=='Ed Jones')
# Filtering by chaining multiple filter/filter_by functions
lame = session.query(User).filter(User.name=='ed').filter(User.fullname=='Ed Jones')
print(jame.all())
print(kame.all())
print(lame.all())

2022-09-08 07:04:37,294 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ? AND users.fullname = ?
2022-09-08 07:04:37,296 INFO sqlalchemy.engine.Engine [cached since 15.58s ago] ('ed', 'Ed Jones')
[<User(name=ed, fullname=Ed Jones, nickname=eddie)]
2022-09-08 07:04:37,299 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ? AND users.fullname = ?
2022-09-08 07:04:37,301 INFO sqlalchemy.engine.Engine [cached since 2378s ago] ('ed', 'Ed Jones')
[<User(name=ed, fullname=Ed Jones, nickname=eddie)]
2022-09-08 07:04:37,304 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ? AND users.fullname = ?
2022-09-08 07:04:37,306 INFO sqlalchemy.engine.Engine [cached since 2378s ago] ('ed', 'Ed Jones')
[<User(name=ed, fullname=Ed Jones, nickname=eddie)]

In [73]:
# Filtering using the sqlalchemy or function
jame = session.query(User).filter(or_(User.name=='ed', User.name=='Wendy'))
jame.all()

2022-09-08 07:06:03,649 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ? OR users.name = ?
2022-09-08 07:06:03,652 INFO sqlalchemy.engine.Engine [generated in 0.00246s] ('ed', 'Wendy')

[<User(name=ed, fullname=Ed Jones, nickname=eddie)]

In [80]:
"""
    Filtering using the match function
    Match is used to display queries which contains the 
    arguments in the match function
"""
# jame = session.query(User).filter(User.name.match('wendy'))
# jame.all()

# This is not surpported in SQLite so it would not work

'\n    Filtering using the match function\n    Match is used to display queries which contains the \n    arguments in the match function\n'